<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="images/cd_favicon.png" />
    <title>cd storage app</title>
    <script src="js-css/jQuery-3.3.1/jquery-3.3.1.min.js"  ></script> 
    <script src="js-css/datatables.min.js" ></script>
    <script src="js-css/Buttons-1.6.2/js/dataTables.buttons.min.js" ></script>
    <script src="js-css/Buttons-1.6.2/js/buttons.print.min.js" ></script>

    <script src="js-css/custom.js"  ></script>


    <link rel="stylesheet" type="text/css" href="js-css/fontawesome-free-5.14.0-web/css/all.min.css"/> 
    
    
    <link rel="stylesheet" type="text/css" href="js-css/Buttons-1.6.2/css/buttons.dataTables.min.css"/> 
    <link rel="stylesheet" type="text/css" href="js-css/datatables.min.css"/> 
    
    <link rel="stylesheet" type="text/less" href="js-css/general_styles.less" /> 
    <script src="js-css/less.min.js" ></script>

  </head>
  <body>
    <header>
      <span class="float_left"><i class="fas fa-bars"></i></span>
      <span class="float_right"><i class="fas fa-user"></i></span>
      <p>...header, menu, etc...</p>
      <p></p>
    </header>
    <div id="content">