    </div>
    <footer>
      <p>...footer sample...</p>
      <p><a href="#" title="">help</a>
      | <a href="mailto:michalholzl83@gmail.com" title="mailto> michalholzl83 at gmail.com">Michal Hölzl</a>
      | <a href="#" title="">about</a>
      </p>
    </footer>
  </body>
</html>